<div>
  <div><h2 class="text-lg-center p-2 text-uppercase">Легковой автотранспорт</h2></div>
  <div><h6 class="display-6 text-lg-center m-0 p-0">Производство: РОССИЯ, ЕВРОПА, АМЕРИКА, ЯПОНИЯ, КИТАЙ</h6></div>
  <div>
    <ol class="list-group-numbered pt-4 text-uppercase">
      <li class="list-group-item bg-gradient">Блоки управления двигателем различных производителей</li>
      <li class="list-group-item">Блоки управления различными системами автомобиля: освещение,
        body компьютеры, sam модули и многое другое.
      </li>
    </ol>
  </div>

</div>
