<div>
  <div><h2 class="text-lg-center mb-4 p-2 text-uppercase">Прицепная техника, специльная и строительная</h2></div>
  <div>
    <div class="pt-4 text-uppercase m-lg-4 trailer">Прицепная техника различных производителей</div>
    <ol class="list-group-numbered text-uppercase m-lg-4">
      <li class="list-group-item bg-gradient">Модуль управления тормозами фирм <i>WABCO (Tebs, Tebs-e</i> и др.)</li>
      <li class="list-group-item bg-gradient">Модуль управления тормозами прицепа фирмы Knorr-Bremse
        <i>(TEBS G2/G2.1, KB4TA, TEBS 4, A18 и др.)</i></li>
    </ol>
    <div class="pt-4 text-uppercase m-lg-4 trailer">Специальная и строительная техника</div>
    <ol class="list-group-numbered text-uppercase m-lg-4">
      <li class="list-group-item bg-gradient">Блоки управления двигателем <i>(Liebherr, Caterpillar, JCB, Hitachi,
        Komatsu, Volvo</i> и др.)
      </li>
      <li class="list-group-item bg-gradient">Панели контроля <i>(Liebherr, Caterpillar, JCB, Hitachi, Komatsu,
        Volvo</i> и др.)
      </li>
    </ol>
  </div>
</div>
