<div class="card-body">
  <h4 class="text-uppercase text-lg-center display-6">Наш адрес</h4>
  <h4 class="text-lg-center pt-3">Московская область, г. Дзержинский, индекс: 140093</h4>
  <h4 class="text-lg-center text-uppercase">Контактный телефон: 8 (926) 245-73-43</h4>
  <div class="mt-5 shadow-lg map">
    <iframe frameborder="0" height="400"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A94b421d6c14d02c61f536a6ea249f820fece3c2b3b01304a130a167c330a1e86&amp;source=constructor"
            width="100%"></iframe>
  </div>
</div>
