<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">
    <a class="navbar-brand m-2 text-uppercase fw-bold" routerLink="/" >Vitoff</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Адрес</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/repair">Ремонт блоков управления</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<div class="container my-5 footer">
  <footer class="text-center text-lg-start text-white"  style="background-color: #3e4551">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Ремонт блоков управления</h5>
            <p>Организация осуществляет ремонт электронных блоков управления по различным направлениям</p>
          </div>

          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Ссылки</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text-white">Ссылка 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Ссылка 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Ссылка 3</a>
              </li>
            </ul>
          </div>
        </div>
        </section>
      <hr class="mb-4"/>

      <section class="mb-4 text-center">
        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fab fa-google"></i></a>
      </section>
    </div>
    <div class="text-center p-3 bg-primary">
      © 2022 Все права защищены: <a class="text-white" href="https://vitoff.ru/">vitoff.ru</a>
    </div>
  </footer>
</div>

