<div>
  <div><h2 class="text-lg-center mb-4 p-2 text-uppercase">Грузовые автомобили</h2></div>
  <div><h6 class="display-6 text-lg-center m-0 p-0">Грузовой автотранспорт и автобусы производства: РОССИЯ, ЕВРОПА,
    АМЕРИКА, ЯПОНИЯ, КИТАЙ</h6></div>
  <div>
    <ol class="ist-group list-group-numbered pt-4 text-uppercase">
      <li class="list-group-item bg-gradient">Блоки управления двигателем <i>(Bosch, Cummins, Delphi, Motorola,
        Catterpillar, Detroit и др.</i>)
      </li>
      <li class="list-group-item">Блоки управления тормозными системами <i>ABS, EBS (Wabco, Bosch, Knorr)</i></li>
      <li class="list-group-item">Блоки управления автоматической коробкой передач (<i>ZF Astronic, I-shift</i> и т.п.)
      </li>
      <li class="list-group-item">Блоки автомобильные и центральные <i>(VECU, FFR, FR, VIC, GM, ZBR и т.п.</i>)</li>
      <li class="list-group-item">Системы подготовки воздуха <i>(Ecam, APS</i> и т.п.)</li>
      <li class="list-group-item">Приборные панели, доски предохранителей.</li>
      <li class="list-group-item">Отключение штатной системы нейтрализации выхлопных газов Ad-blue. Производим
        отключение системы Ad-blue (мочевины) с использованием имитирующих устройств на всех типах
        грузовых автомобилей и автобусах.
      </li>
    </ol>
  </div>
</div>
